header {
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0 9vmin;
}
li > a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 3vmin;
	line-height: 3vmin;
	text-decoration: none;
	color: #e5e5e5;
}

.logo {
	max-width: 100%;
	height: auto;
	padding: 0 15vmin;
}

#counter {
	background: black;
	color: #00cc00;
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
	line-height: 38px;
	width: 134px;
	padding: 0px;
	border: 3px double gray;
	margin: 0vh 0vh 0vh 6vh;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	-webkit-box-shadow: 2px 2px 4px #888888;
}
.digit {
	display: inline;
}
