* {
	/*
		Enlever le commentaire en dessous pour remettre tout en noir : -> ->7
		(mais ça enlevera la barre des taches personnalisé comme discord)
	*/
	/*background-color: #1a1a1a;*/
}
body {
	background-color: #1a1a1a;
}

.Option_Graphe_Container {
	height: 65vh;
	display: flex;
	flex-direction: row;
}

.Container_graphe {
	position: absolute;

	width: 65%;
	height: 60%;
	margin: 0% 15% 0% 20%;

	text-align: center;
	color: white;
	font-weight: 500;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	border-radius: 14px;
	background: #1a1a1a;
	box-shadow: inset 5px 5px 18px #0a0a0a, inset -5px -5px 18px #2a2a2a;
}

#DailyAdvice {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 45em;
}
#Titre {
	text-decoration: underline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 17em;
}

#Graphe {
	width: auto;
	height: 93%;
	border-radius: 14px;
	background: #1a1a1a;
	margin: 2% 5% 5% 5%;
}

#Graph_Selected {
	background: #1a1a1a;
}

/* Bouton sélection Analytics */
.button {
	display: inline-flex;
	height: 4vh;
	width: 15vh;
	border: 2px solid #bfc0c0;
	margin: 2vh 2vh 2vh 6vh;
	color: #bfc0c0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6vh;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

a {
	color: #bfc0c0;
	text-decoration: none;
	letter-spacing: 1px;
}

#arrow-hover {
	width: 1.5vh;
	height: 1vh;
	position: absolute;
	transform: translateX(60px);
	opacity: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
	margin: 0;
	padding: 0 5px;
}

a#Analy-1:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

a#Analy-2:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-3:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-4:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-5:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

a#Reload:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

#code_python {
	color: white;
	background-color: #1a1a1a;
}

select {
	margin: 0 0 0 55px;
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#RestaurerBtn,
#ValidateBtn,
#SelectFile {
	color: white;
	background-color: #1a1a1a;
}
