* {
	background-color: #1a1a1a;
}

.Option_Graphe_Container {
	height: 65vh;
	display: flex;
	flex-direction: row;
}

.Container_graphe {
	position: absolute;
	width: 65%;
	height: 60%;
	margin: 0% 15% 0% 20%;

	border-radius: 14px;
	background: #1a1a1a;
	box-shadow: inset 5px 5px 18px #0a0a0a, inset -5px -5px 18px #2a2a2a;
}

/* Bouton sélection Analytics */
.button {
	display: inline-flex;
	height: 4vh;
	width: 15vh;
	border: 2px solid #bfc0c0;
	margin: 2vh 2vh 2vh 6vh;
	color: #bfc0c0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6vh;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

a {
	color: #bfc0c0;
	text-decoration: none;
	letter-spacing: 1px;
}

#arrow-hover {
	width: 1.5vh;
	height: 1vh;
	position: absolute;
	transform: translateX(60px);
	opacity: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
	margin: 0;
	padding: 0 5px;
}

a#button-1:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
