body {
	/*background-color: #1a1a1a;*/
	background-color: #15161a;
}
.nav_links {
	position: absolute;
	top: 60px;
	left: 350px;
}

.Option_Graphe_Container {
	height: 65vh;
	display: flex;
	flex-direction: row;
}
.bouton_gauche {
	background-color: #18181f;
	height: 100%;
	width: 16%;
	box-sizing: initial;
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: inset -5px 0px #15141a;
}

#Container_graphe {
	position: absolute;

	width: 65%;
	height: 60%;
	margin: 0% 0% 0% 20%;

	text-align: center;
	color: white;
	font-weight: 500;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	border-radius: 5px;
	background: #1a1a1a;
	box-shadow: inset 5px 5px 18px #0a0a0a, inset -5px -5px 18px #2a2a2a;
}

#DailyAdvice {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 45em;
}
#Titre {
	text-decoration: underline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 17em;
}

#Graphe {
	width: auto;
	height: 93%;
	border-radius: 14px;
	background: #1a1a1a;
	margin: 2% 5% 5% 5%;
}

#Graph_Selected {
	background: #1a1a1a;
}

/* Bouton sélection Analytics */
.button {
	display: inline-flex;
	height: 4vh;
	width: 15vh;
	border: 2px solid #423e69;
	margin: 2vh 2vh 2vh 6vh;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6vh;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	background-color: #00abe9;

	transition-duration: 300ms;
	transition-property: color, background-color;
}
.button:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #007acc;
}
.button:hover {
	background-color: #006488;
	box-shadow: outset 5px 2px 5px #0a0a0a, outset -5px -2px 5px #2a2a2a;

	color: #ffee10;
	box-shadow: 0 0 5px #4100d8;
	text-shadow: 0 0 5px #4100d8;
}
a {
	color: #bfc0c0;
	text-decoration: none;
	letter-spacing: 1px;
}

#arrow-hover {
	width: 1.5vh;
	height: 1vh;
	position: absolute;
	transform: translateX(60px);
	opacity: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
	margin: 0;
	padding: 0 5px;
}

a#Analy-1:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

a#Analy-2:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-3:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-4:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}
a#Analy-5:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

a#Reload:hover img {
	width: 1vh;
	opacity: 1;
	transform: translateX(60px);
}

#code_python {
	color: white;
	background-color: #1a1a1a;
}

select {
	margin: 0 0 0 55px;
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#RestaurerBtn,
#ValidateBtn,
#SelectFile {
	color: white;
	background-color: #1a1a1a;
}

#logotext {
	position: relative;
	width: 75%;
	cursor: pointer;
	margin: 0 0 0 7%;
	border-radius: 50%;
	padding: 10px 10px 10px 10px;
	/*background-color: white;*/
	transition: box-shadow 0.7s, transform 3s;
}

#logotext:hover {
	box-shadow: 0 0 2px 5px rgba(230, 233, 235, 0.5);
	transform: rotateY(360deg);
}

#time_button button {
	width: 5em;
	font-size: 0.8em;
}

#time_button {
	position: absolute;
	right: 5%;
}
