body {
	/*background-color: #15161a;*/
	background-color: #15161a;
	font-family: 'Raleway', sans-serif;
}


#Container_graphe {
	position: flex;
	width: auto;
	height: fit-content;
	min-width: 50%;
	margin-top: 5%;
	margin-left: 20%;
	background: #1a1a1a;
	box-shadow: inset 5px 5px 18px #0a0a0a, inset -5px -5px 18px #2a2a2a;
	padding: 3%;
	color: white;
	border-radius: 1%;
}

#redirect_InscriptionLoc:hover,
#RestaurerBtn,
#ValidateBtn {
	cursor: pointer;
}
